# SendGrid – skopiuj do .sendgrid.env i uzupełnij
# Powinna tu być tylko jedna linia:
# export SENDGRID_API_KEY='twoj-klucz-api'
#
# Na Windows (PowerShell) przed uruchomieniem backendu:
# $env:SENDGRID_API_KEY = 'twoj-klucz-api'
#
# Na Windows (CMD):
# set SENDGRID_API_KEY=twoj-klucz-api
